.gp-filtered-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233a;

	.gp-popover_network-name {
		max-width: 24ch;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&_result-count {
		display: inline-flex;
		flex-direction: column;
		align-items: start;
		gap: 8px;
		width: 100%;
		max-width: 1224px;
		padding: 12px 24px;
		margin: 0;
		background: #f3f5f6;
		border-radius: 8px;

		@media (min-width: @screen-sm-min) {
			flex-flow: row wrap;
			align-items: center;
		}

		> button {
			background: none;
			border: none;
			text-decoration: underline;
			padding: 0;

			@media (min-width: @screen-sm-min) {
				margin-left: auto;
			}
		}
	}

	&_jump {
		max-width: 1224px;
		width: 100%;
		padding: 16px;
		border-radius: 8px;
		background-color: #f3f5f6;

		@media (min-width: @screen-sm-min) {
			display: none;
		}

		&_field {
			.select_selected_label {
				max-width: calc(100% - 16px);
			}

			label {
				font-size: 12px;
				color: #17233a;
				font-weight: 400;
			}
		}
	}

	&_filters, &_jump {
		.select_selected:not(:disabled), .aa-Input {
			&:hover, &:focus, &:active {
				border-color: #e7e7ee;
			}
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		max-width: 1224px;
		width: 100%;
		gap: 10px;

		&_error {
			button {
				background: none;
				border: none;
				color: #00b88c;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&_block {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 100%;

			&.group-by-disabled {
				display: grid;
				gap: 8px;
				grid-template-columns: repeat(2, 1fr);

				@media (max-width: @screen-sm-max) {
					grid-template-columns: repeat(1, 1fr);
				}
			}

			&:not(.group-by-disabled) {
				width: 100%;
			}

			&_group {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				padding: 14px;
				border-radius: 12px;
				width: 100%;
				column-gap: 12px;
				row-gap: 8px;
				border: 1px solid #e7e7ee;

				&.group-by-network {
					grid-template-columns: repeat(3, 1fr);
				}

				&.group-by-country-network, &.group-by-city-network {
					column-count: 4;
					display: block;

					> * {
						margin-bottom: 8px;
					}
				}

				@media (max-width: @screen-md-max) {
					&, &.group-by-network {
						grid-template-columns: repeat(3, 1fr);
					}

					&.group-by-country-network, &.group-by-city-network {
						column-count: 3;
					}
				}

				@media (max-width: @screen-sm-max) {
					&, &.group-by-network {
						grid-template-columns: repeat(2, 1fr);
					}

					&.group-by-country-network, &.group-by-city-network {
						column-count: 2;
					}
				}

				@media (max-width: @screen-xs-max) {
					&, &.group-by-network {
						grid-template-columns: repeat(1, 1fr);
					}

					&.group-by-country-network, &.group-by-city-network {
						column-count: 1;
					}
				}

				&_item {
					display: flex;
					padding: 4px 12px;
					align-items: start;
					justify-content: space-between;
					overflow: hidden;
					width: 100%;
					color: #17233a;

					&:not(.cont-header) {
						background: #f8fafb;
						border: 1px solid #f3f5f6;
						border-radius: 6px;
						column-gap: 8px;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						transition: background-color 100ms ease-in-out;

						&:hover {
							background: #eff1f3;
						}
					}

					& > div {
						display: flex;
						flex-direction: column;
						flex-grow: 1;
						padding-right: 8px;
						min-width: 0;
						overflow-wrap: anywhere;
					}

					&_count {
						font-size: 12px;
						line-height: 20px;
						padding: 0 6px;
						border-radius: 6px;
						background: #fff;
						margin-right: -6px;
						border: 1px solid #e7e7ee;
					}

					&_location {
						flex-grow: 1;
					}

					&.cont-header {
						font-size: 24px;
						font-weight: 600;
						line-height: 24px;
						margin-bottom: 14px;
						margin-top: 8px;
						column-span: all;
						grid-column: 1 / -1;
						justify-content: flex-start;
						gap: 12px;

						&:not(:first-child) {
							margin-top: 10px;

							@media (min-width: @screen-sm-min) {
								margin-top: 24px;
							}
						}
					}
				}

				&_networks-item {
					break-inside: auto;

					&_network {
						background-color: #f3f5f6;
						padding: 0 6px;
						border-radius: 6px;
						transition: background-color 100ms ease-in-out;

						&:hover {
							background-color: #eaecef;
						}
					}

					&_country {
						display: block;
						font-weight: 700;
						padding-bottom: 6px;
						break-after: avoid-column;

						> img {
							margin-right: 4px;
							margin-top: -2px;
						}
					}

					&_networks {
						font-size: 12px;
						break-inside: avoid;

						&:has(> span:nth-child(11)) {
							break-inside: auto;
						}

						> span {
							display: inline-block;
							margin-right: 6px;
							margin-bottom: 6px;
							break-inside: avoid;
						}
					}
				}
			}
		}
	}

	&_network-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 22px;
		width: 22px;
		margin-right: 4px;
		user-select: none;
		font-size: 12px;
		color: #454545;
		flex-shrink: 0;

		&:not(:has(img)) {
			border-radius: 4px;
			border: 1px #a9a9a9 solid;
		}
	}

	&_logos-by {
		display: flex;
		justify-content: end;
		width: 100%;
		max-width: 1224px;

		a {
			color: #79849a;
			font-size: 12px;
			line-height: 16px;

			&:hover {
				color: inherit;
			}
		}
	}
}
