.c-gp-globe {
	position: absolute;
	z-index: -1;
	pointer-events: none;

	&_video {
		display: block;
		width: 100%;
		height: auto;
		aspect-ratio: 1;
		clip-path: circle(46.75% at 50% 50%);
		object-fit: contain;
	}
}
