.probe-single-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #e7e7ee;
	border-radius: 8px;
	padding: 12px;
	height: 100%;
	color: #17233a;
	background: linear-gradient(135deg, #fff 0%, #fafbfc 100%);

	&--hidden {
		display: none;
	}

	&_header {
		display: flex;
		align-items: center;
		gap: 12px;
		padding-bottom: 6px;
	}

	&_flag {
		border-radius: 2px;
		border: 1px solid #f3f5f6;
		flex-shrink: 0;
		object-fit: cover;
	}

	&_title {
		display: flex;
		flex-direction: column;
		min-width: 0;

		& > span {
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: fit-content;
		}

		&_location {
			font-size: 14px;
			font-weight: 600;
		}

		&_network {
			font-size: 12px;
			color: #303f52;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&_tags {
		display: flex;
		gap: 6px;
		padding-top: 6px;
		margin-top: auto;
	}

	&_tag {
		border: 1px solid #e7e7ee;
		border-radius: 4px;
		padding: 3px 6px;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: .2px;
		white-space: nowrap;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .02);
	}
}
