.probe-single-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #e7e7ee;
	border-radius: 8px;
	padding: 12px;
	transition: box-shadow .2s ease, border-color .2s ease;
	height: 100%;
	break-inside: avoid;

	&:hover {
		border-color: #00b88c;
		box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
	}

	&_header {
		display: flex;
		align-items: center;
		gap: 8px;
		padding-bottom: 8px;
	}

	&_flag {
		border-radius: 2px;
		border: 1px solid #f3f5f6;
		flex-shrink: 0;
		object-fit: cover;
	}

	&_location {
		display: flex;
		flex-direction: column;
		line-height: 1.1;
		min-width: 0;
	}

	&_city {
		font-size: 13px;
		font-weight: 600;
		color: #17233a;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&_country {
		font-size: 11px;
		color: #79849a;
		margin-top: 3px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&_network {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 4px 8px;
		background: #f8fafb;
		border-radius: 6px;
		border: 1px solid #f3f5f6;
		max-width: 60%;
		margin-left: auto;

		img {
			flex-shrink: 0;
		}

		&_name {
			font-size: 11px;
			color: #454545;
			font-weight: 500;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&_tags {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		border-top: 1px solid #f3f5f6;
		padding-top: 10px;
		margin-top: auto;
	}

	&_tag {
		border: 1px solid #e7e7ee;
		border-radius: 4px;
		padding: 3px 6px;
		font-size: 10px;
		font-weight: 500;
		color: #79849a;
		letter-spacing: .2px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
