.c-probe-loading-state {
	width: 100%;

	&:empty {
		display: none;
	}

	> div {
		padding: 64px 24px;
		margin: 0;
		text-align: center;
		border: 1px solid #e7e7ee;
		border-radius: 8px;
		font-size: 16px;
		color: #6b7280;

		& > i {
			margin-bottom: 8px;
			font-size: 24px;
		}

		&.has-error {
			color: #dc2626;
			background-color: #fef2f2;
			border-color: #fecaca;
		}
	}
}
