.probe-single-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #e7e7ee;
	border-radius: 8px;
	padding: 12px;
	height: 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .02);
	color: #17233a;

	&_header {
		display: flex;
		align-items: center;
		gap: 8px;
		padding-bottom: 8px;
	}

	&_flag {
		border-radius: 2px;
		border: 1px solid #f3f5f6;
		flex-shrink: 0;
		object-fit: cover;
	}

	&_location {
		line-height: 1.1;
		min-width: 0;
		font-size: 15px;
		font-weight: 600;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&_network {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 4px 8px;
		background: #f9fafb;
		border-radius: 6px;
		border: 1px solid #e7e7ee;
		max-width: 60%;
		margin-left: auto;
		transition: background .2s;
		color: #17233a;

		&:hover {
			background: #f3f5f6;
			text-decoration: none;
			color: #17233a;

			> span {
				text-decoration: underline;
			}
		}

		&:focus {
			color: #17233a;
			outline: none;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .04), 0 0 0 1px #fff, 0 0 0 4px rgba(23, 212, 167, .48);
		}

		img {
			flex-shrink: 0;
		}

		&_name {
			font-size: 11px;
			font-weight: 500;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&_tags {
		display: flex;
		gap: 6px;
		padding-top: 6px;
		margin-top: auto;
	}

	&_tag {
		border: 1px solid #e7e7ee;
		border-radius: 4px;
		padding: 3px 6px;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: .2px;
		white-space: nowrap;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .02);
	}
}
