@import "../variables.less";

.c-gp-results-table-output {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	.results-table-wrapper {
		overflow-y: auto;
		max-height: max(50vh, 320px);

		@media (min-width: @screen-sm-min) {
			max-height: fit-content;
		}
	}

	.sort-options {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 12px;
		padding: 8px 16px;
		width: 100%;
		background: #fbfbfb;
		border-bottom: 1px solid #e7e7ee;

		> label {
			font-weight: 400;
		}

		&_select {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			width: 70%;
			border: 1px solid #e7e7ee;
			border-radius: 8px;
			background: #fff;

			> button {
				height: 100%;
				width: 36px;
				border: none;
				box-shadow: none;
				background: #fff;
			}

			.select {
				width: inherit;
				flex-grow: 1;
				border-right: 1px solid #e7e7ee;

				button {
					height: 32px;
					border: none;
					box-shadow: none;
				}
			}
		}

		@media (min-width: @screen-sm-min) {
			display: none;
		}
	}

	.results-table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;

		&.single-target {
			.results-table_header_cell.location,
			.results-table_row_location {
				width: 100%;
			}

			.results-table_row_location.results-table_status-line-host:before {
				top: 0;
				bottom: 0;
				border-radius: 0;
			}

			.results-table_row {
				@media (max-width: @screen-md-max) {
					background-size: 100% 64px;
					background-repeat: no-repeat;
				}
			}
		}

		&:not(.single-target) {
			.results-table_row {
				@media (max-width: @screen-md-max) {
					display: grid;
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}
			}

			.results-table_row_location {
				@media (max-width: @screen-md-max) {
					grid-column: 1 / -1;
					width: 100%;
				}
			}

			.results-table_row_stats_subrow {
				@media (max-width: @screen-md-max) {
					display: contents;
				}

				.results-table_row_stats_subrow_cell {
					@media (max-width: @screen-md-max) {
						min-width: 0;
						padding-right: 16px;
						padding-left: 16px;
					}
				}

				@media (max-width: @screen-md-max) {
					&.target-0 > .cell {
						grid-column: 1;
					}

					&.target-1 > .cell {
						border-left: 1px solid #e7e7ee;
						grid-column: 2;
					}

					&.target-0 > .cell:nth-child(2),
					&.target-1 > .cell:nth-child(1) {
						grid-row: 2;
					}

					&.target-0 > .cell:nth-child(3),
					&.target-1 > .cell:nth-child(2) {
						grid-row: 3;
					}

					&.target-0 > .cell:nth-child(4),
					&.target-1 > .cell:nth-child(3) {
						grid-row: 4;
					}

					&.target-0 > .cell:nth-child(5),
					&.target-1 > .cell:nth-child(4) {
						grid-row: 5;
					}

					&.target-0 > .cell:nth-child(6),
					&.target-1 > .cell:nth-child(5) {
						grid-row: 6;
					}
				}

				.cell-value {
					@media (max-width: @screen-md-max) {
						min-width: 0;
						width: 100%;
					}
				}

				.targets {
					&:before {
						top: 0;
						bottom: 0;
						border-radius: 0;
					}
					padding-left: 32px;

					@media (max-width: @screen-md-max) {
						padding-left: 34px;
						background-position: 18px 0;
						background-size: calc(100% - 18px) 100%;
						background-repeat: no-repeat;

						&:before {
							left: 18px;
						}
					}
				}

				&.target-0,
				&.target-1 {
					.targets > .cell-value > span {
						@media (max-width: @screen-md-max) {
							max-width: 100%;
						}
					}
				}
			}
		}

		&_status-line-host {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 15%;
				bottom: 15%;
				left: 0;
				border-left: 6px solid;
				border-left-color: inherit;
				border-radius: 3px;
				pointer-events: none;
			}
		}

		&_header {
			display: none;
			background: #fbfbfb;

			@media (min-width: @screen-lg-min) {
				display: table-header-group;
			}

			button {
				display: inline-flex;
				white-space: nowrap;
				align-items: center;
				justify-content: flex-end;
				gap: 4px;
				padding: 0;
				background: inherit;
				border: none;
				color: #17233a;
			}

			&_cell {
				display: table-cell;
				height: 40px;
				background: inherit;
				color: #17233a;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				vertical-align: middle;
				border-bottom: 1px solid rgba(231, 231, 238, .91);
				padding-left: 48px;
				text-align: right;
				white-space: nowrap;

				&:last-child {
					padding-right: 24px;
				}

				&.location {
					width: auto;
					padding-left: 24px;
					padding-right: 80px;
					text-align: left;
				}

				&.targets {
					width: 400%;
					text-align: left;
				}

				&.rtt {
					padding-right: 24px;

					.timings-group {
						display: grid;
						align-items: center;
						justify-content: end;
						grid-template-columns: 60px 24px 48px 24px 48px 24px 48px;

						.rtt_text {
							display: inline-flex;
							justify-content: flex-end;
							justify-self: stretch;
						}

						.rtt_separator {
							display: inline-flex;
							justify-self: center;
							justify-content: center;
							width: auto;
						}
					}
				}

				&.status {
					&.http-status {
						min-width: 156px;
					}
				}

				&.ip {
					@media (min-width: @screen-lg-min) {
						min-width: 120px;
					}
				}
			}
		}

		&_row {
			position: relative;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid #e7e7ee;
			cursor: initial;
			background: #fbfbfb;
			padding-bottom: 8px;

			@media (min-width: @screen-lg-min) {
				display: table-row-group;
				background: initial;
				padding-bottom: 0;
			}

			@media (min-width: @screen-sm-min) {
				&:hover {
					.results-table_row_location_actions {
						display: flex;
					}
				}
			}

			&:nth-last-child(1) {
				.results-table_row_location,
				.results-table_row_stats_subrow:last-child .results-table_row_stats_subrow_cell {
					border-bottom: 0;
				}
			}

			&_location {
				position: relative;
				display: block;
				padding: 16px;
				width: auto;
				border-bottom: none;
				vertical-align: middle;

				@media (min-width: @screen-lg-min) {
					display: table-cell;
					width: auto;
					padding: 16px 80px 16px 24px;
					white-space: nowrap;
					border-bottom: 1px solid #e7e7ee;
				}

				&_content {
					display: flex;
					align-items: center;
					column-gap: 8px;
					width: 100%;
					padding: 0;
					border: 0;
					background: transparent;
					color: inherit;
					font: inherit;
					text-align: left;
				}

				&_data {
					display: flex;
					flex-direction: column;

					>span {
						&:nth-child(1) {
							color: #17233a;
							font-size: 14px;
							font-weight: 500;
							line-height: 20px;
						}

						&:nth-child(2) {
							font-size: 12px;
							line-height: 12px;
						}
					}
				}

				&_actions {
					display: none;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -28px;
					overflow: hidden;

					&_btn {
						border-top-left-radius: 8px;
						border-bottom-left-radius: 8px;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						font-size: 20px;
						width: 28px;
						height: 28px;
						background-color: #f3f5f6;
						border: 1px solid #e7e7ee;

						@media (min-width: @screen-sm-min) {
							&:hover {
								background-color: #46e1bc;
								color: #fff;

								&:active, &:focus, &:focus-visible {
									background-color: #17d4a7;
								}
							}
						}

						@media (max-width: @screen-xs-max) {
							transition: all .2s ease-in-out;

							&:active {
								transform: scale(1.1);
								transition: .1s;
							}
						}
					}
				}
			}

			&_stats_subrow {
				display: flex;
				flex-direction: column;

				@media (min-width: @screen-lg-min) {
					display: table-row;
				}

				&_cell {
					display: flex;
					align-items: center;
					padding: 0 16px 0 10px;
					min-height: 32px;
					border-bottom: 0;

					@media (min-width: @screen-lg-min) {
						display: table-cell;
						height: 44px;
						padding: 0 0 0 48px;
						vertical-align: middle;
						white-space: nowrap;
						border-bottom: 1px solid #e7e7ee;

						&:last-child {
							padding-right: 24px;
						}
					}

					&.probe-failed, &.probe-offline {
						column-gap: 8px;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						color: #17233a;

						@media (min-width: @screen-lg-min) {
							width: auto;
						}
					}

					&.probe-failed {
						.probe-failed_content {
							display: inline-flex;
							align-items: center;
							gap: 8px;
							white-space: nowrap;
						}

						.probe-failed_icon {
							flex: 0 0 auto;
						}
					}

					&.targets {
						> .cell-value {
							min-width: 120px;

							@media (min-width: @screen-lg-min) {
								justify-content: flex-start;
								text-align: left;
							}

							> span {
								display: inline-block;
								max-width: 188px;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								padding: 2px 6px;
								border-radius: 8px;
								border: 1px solid #e7e7e7;
								background: #f3f5f6;
							}
						}
					}

					&.is-sortable {
						> .cell-value {
							> span:last-child {
								@media (min-width: @screen-lg-min) {
									margin-right: 12px;
								}
							}

							> .c-placeholder-skeleton {
								@media (min-width: @screen-lg-min) {
									width: calc(100% - 12px);
									flex: 0 0 calc(100% - 12px);
									margin-right: 12px;
								}
							}
						}
					}

					&.status {
						&.http-status {
							> .cell-value > span:last-child {
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
						}
					}

					&.hops {
						> .cell-value {
							min-width: 24px;
						}
					}

					&.total {
						> .cell-value {
							min-width: 48px;
						}
					}

					&.ip {
						span {
							white-space: nowrap;
						}

						.text-ellipsis {
							overflow: hidden;
							text-overflow: ellipsis;
						}

						> .cell-value {
							min-width: 96px;
						}
					}

					&.rtt {
						@media (min-width: @screen-lg-min) {
							padding-right: 24px;
						}

						> .cell-value {
							display: flex;
							flex-direction: column;
							gap: 0;
							position: relative;

							@media (min-width: @screen-lg-min) {
								flex-direction: row;
								align-items: center;
							}
						}
					}

					&.graph {
						> .cell-value {
							min-width: 48px;
						}
					}

					> .cell-value {
						display: flex;
						align-items: center;
						flex-grow: 1;
						gap: 8px;
						font-size: 13px;
						font-weight: 400;
						line-height: 20px;
						color: #17233a;
						justify-content: space-between;

						@media (min-width: @screen-lg-min) {
							justify-content: flex-end;
							min-width: 64px;
							text-align: right;
						}

						> .c-placeholder-skeleton {
							@media (min-width: @screen-lg-min) {
								width: 100%;
								flex: 0 0 100%;
							}
						}

						> .cell-label {
							color: #17233a;
							font-weight: 600;

							@media (min-width: @screen-lg-min) {
								display: none;
							}
						}

						.timings {
							display: flex;
							align-items: center;
							justify-content: space-between;
							min-height: 36px;

							@media (min-width: @screen-lg-min) {
								width: auto;
								min-height: 0;
								justify-content: flex-end;
							}

							&.no-value {
								@media (min-width: @screen-lg-min) {
									width: auto;
								}
							}

							&.is-sortable {
								.timings_value {
									@media (min-width: @screen-lg-min) {
										margin-right: 12px;
									}
								}

								.c-placeholder-skeleton {
									@media (min-width: @screen-lg-min) {
										margin-right: 12px;
										width: calc(100% - 12px);
										flex: 0 0 calc(100% - 12px);
									}
								}
							}

							.c-placeholder-skeleton {
								@media (min-width: @screen-lg-min) {
									min-width: 0;
									width: 100%;
									flex: 0 0 100%;
								}
							}

							&_header {
								display: inline-flex;
								color: #17233a;
								font-weight: 600;

								@media (min-width: @screen-lg-min) {
									display: none;
								}
							}

							&_value {
								display: inline-flex;
								justify-content: flex-end;
								white-space: nowrap;
							}

							&_units {
								padding-left: .5ch;

								@media (min-width: @screen-lg-min) {
									display: none;
								}
							}

							&_separator {
								display: none;

								@media (min-width: @screen-lg-min) {
									display: inline-flex;
									justify-self: center;
									justify-content: center;
									width: auto;
								}
							}
						}

						.timings-group {
							display: flex;
							flex-direction: column;
							width: 100%;

							@media (min-width: @screen-lg-min) {
								display: grid;
								align-items: center;
								grid-template-columns: 60px 24px 48px 24px 48px 24px 48px;
								width: auto;
							}
						}

						.lg-screen-units {
							display: none;

							@media (min-width: @screen-lg-min) {
								display: flex;
								position: absolute;
								top: 50%;
								left: 100%;
								transform: translateY(-50%);
								width: 24px;
								margin-left: 6px;
								justify-content: flex-end;
							}
						}
					}
				}
			}
		}
	}

	.c-placeholder-skeleton {
		width: 50%;

		@media (min-width: @screen-lg-min) {
			width: 64px;
			flex: 0 0 64px;
		}

		.skeleton-subheader_content-wrapper {
			width: 100%;
		}
	}

	&_set-location-hitarea {
		position: absolute;
		width: 34px;
		z-index: 10;

		@media (max-width: @screen-xs-max) {
			display: none;
		}
	}

	&_set-location {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #e7e7ee;
		border-right: 1.5px solid #e7e7ee;
		border-radius: 8px 0 0 8px;
		color: #17233a;
		cursor: pointer;
		left: 4px;
		transition: background-color .1s ease-out;
		width: 26px;
		height: 26px;
		background: #f9fafb;
		font-size: 15px;

		& > i {
			margin-left: 2px;
		}

		&.focus-outline {
			outline: 2px solid rgba(23, 212, 167, .48);
		}

		&:hover {
			background: #f2f2f2;
		}

		@media (max-width: @screen-xs-max) {
			display: none;
		}
	}
}
