@import "variables.less";

.shadow-sm {
	box-shadow: @shadow-sm;
}

.shadow-md {
	box-shadow: @shadow-md;
}

.shadow-lg {
	box-shadow: @shadow-lg;
}

.shadow-sm-light {
	box-shadow: @shadow-sm-light;
}

.shadow-md-light {
	box-shadow: @shadow-md-light;
}

.shadow-lg-light {
	box-shadow: @shadow-lg-light;
}
