@import "tailwindcss";
@import "./fonts.css";
@import "./legacy.css";

@layer base {
	html {
		font-family: Lexend, sans-serif;
		color: var(--color-dark-800);
	}
}

@layer utils {
	.collapse {
		visibility: initial;
	}
}

@theme {
	--font-size-2xs: .7rem;
	--font-size-3xs: .6rem;
	--color-primary-50: #f3fdfb;
	--color-primary-100: #c7f5ea;
	--color-primary-200: #9bedd9;
	--color-primary-300: #6fe4c8;
	--color-primary-400: #43dcb8;
	--color-primary-500: #17d4a7;
	--color-primary-600: #14b48e;
	--color-primary-700: #109475;
	--color-primary-800: #0d755c;
	--color-primary-900: #095543;
	--color-primary-950: #052b22;
	--color-surface-0: #fff;
	--color-surface-50: #fafafa;
	--color-surface-100: #f5f5f5;
	--color-surface-200: #eee;
	--color-surface-300: #e0e0e0;
	--color-surface-400: #bdbdbd;
	--color-surface-500: #9e9e9e;
	--color-surface-600: #757575;
	--color-surface-700: #616161;
	--color-surface-800: #424242;
	--color-surface-900: #212121;
	--color-surface-950: #020617;
	--color-bluegray-0: #fff;
	--color-bluegray-50: #f7f8f9;
	--color-bluegray-100: #dadee3;
	--color-bluegray-200: #bcc3cd;
	--color-bluegray-300: #9fa9b7;
	--color-bluegray-400: #818ea1;
	--color-bluegray-500: #64748b;
	--color-bluegray-600: #556376;
	--color-bluegray-700: #465161;
	--color-bluegray-800: #37404c;
	--color-bluegray-900: #282e38;
	--color-dark-0: #fff;
	--color-dark-50: #f8fafc;
	--color-dark-100: #f1f5f9;
	--color-dark-200: #e2e8f0;
	--color-dark-300: #cbd5e1;
	--color-dark-400: #4f6180;
	--color-dark-500: #33415a;
	--color-dark-600: #2d3c59;
	--color-dark-700: #1a2842;
	--color-dark-800: #17233a;
	--color-dark-900: #162034;
	--color-dark-950: #131728;
	--color-sidebar-border: #4f6180;
	--color-table-border: #2d3c59;
	--color-sidebar-item: #33415a;
	--color-sidebar-bg: #1a2842;
	--color-header-bg-table-bg: #17233a;
	--color-main-bg: #162034;
	--color-primary: var(--color-primary-500);
	--color-primary-hover: var(--color-primary-600);
}
