<div class="probe-single-card">
	<div class="probe-single-card_header">
		<img class="probe-single-card_flag"
			loading="lazy"
			width="24"
			height="16"
			src="https://cdn.jsdelivr.net/npm/country-flag-icons@1.5.5/3x2/{{location.country}}.svg"
			alt=""
			aria-hidden="true">
		<div class="probe-single-card_location">
			<span class="probe-single-card_city">{{location.city}}</span>
			<span class="probe-single-card_country">{{location.country}}</span>
		</div>
		<div class="probe-single-card_network">
			{{#if networkDomain}}
			<img width="14"
				height="14"
				src="https://img.jsdelivr.com/img.logo.dev/{{networkDomain}}?format=png"
				loading="lazy"
				alt=""
				aria-hidden="true"
			>
			{{/if}}
			<span class="probe-single-card_network_name">{{location.network}}</span>
		</div>
	</div>

	{{#if tags && tags.length > 0}}
		<div class="probe-single-card_tags">
			{{#each tags}}
				<span class="probe-single-card_tag">{{this}}</span>
			{{/each}}
		</div>
	{{/if}}
</div>

<script>
	component.exports = {
		data () {
			return {
				location: {},
				tags: [],
			};
		},
	};
</script>
